<div class="radio-group">
  <label>
    <input
      type="radio"
      name="coin-selector"
      id="btc-selector"
      value="BTC"
      class="selector"
    />
    Bitcoin
    <span></span>
  </label>
  <label>
    <input
      type="radio"
      name="coin-selector"
      id="eth-selector"
      value="ETH"
      class="selector"
    />
    Ethereum
    <span></span>
  </label>
  <label>
    <input
      type="radio"
      name="coin-selector"
      id="lit-selector"
      value="LTC"
      class="selector"
    />
    Litecoin
    <span></span>
  </label>
  <label>
    <input
      type="radio"
      name="coin-selector"
      id="stl-selector"
      value="XLM"
      class="selector"
    />
    Stellar
    <span></span>
  </label>
</div>
