<div class="radio-group">
  <label>
    <input
      type="radio"
      name="coin-selector"
      id="btc-selector"
      value="Bitcoin"
    />
    Bitcoin
    <span></span>
  </label>
  <label>
    <input
      type="radio"
      name="coin-selector"
      id="eth-selector"
      value="Ethereum"
    />
    Ethereum
    <span></span>
  </label>
  <label>
    <input
      type="radio"
      name="coin-selector"
      id="lit-selector"
      value="Litecoin"
    />
    Litecoin
    <span></span>
  </label>
  <label>
    <input
      type="radio"
      name="coin-selector"
      id="stl-selector"
      value="Stellar"
    />
    Stellar
    <span></span>
  </label>
</div>
